// bec4b4, d8ae3b, 303934


html, body 
  height: 100%
	
body
  padding: 0px
  margin: 0px  
  color: #333
  font-family: 'Philosopher', arial, helvetica, sans-serif
  font-size: 20px
  line-height: 25px
  background-color: #7EA800
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ab66b), color-stop(100%,#c9de96))


p, ol, ul, td, textarea, input, select
  font-family: 'Philosopher', arial, helvetica, sans-serif
  font-size: 20px
  line-height: 25px
  
  
  
textarea, input
  border: 1px solid #eee
  padding: 5px
  padding-left: 10px
  padding-right: 10px
  color: #555

  &[type=submit]
    cursor: pointer
    border: 1px solid #c9de96
    color: #fff
    background-color: #c9de96
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(100%,#8ab66b))
    border-radius: 5px
    box-shadow: 0px 2px 2px #555
   
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ab66b), color-stop(100%,#c9de96))
      //color: #000
  
  &:hover
    border: 1px solid #aaa
    

textarea
  width: 680px
  height: 180px
  padding: 10px



pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a
  color: #7EA800
  text-decoration: none
  &:visited
    color: #7EA800
  &:hover
    text-decoration: underline
    
h1, h2
  text-align: center

div
  &.field, &.actions
    margin-bottom: 10px

.notice, .alert
  text-align: center
  color: #fff
  position: absolute
  width: 100%

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid #7EA800
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #7EA800
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #7EA800
    color: #fff
  ul li
    font-size: 12px
    list-style: square


.wrapper 
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto 


.header
  height: 30px
  font-size: 18px
  color: #333
  
  a
    color: #333
    
    &:hover
      color: #fff
      
    
.columns

  .left
    float: left
    width: 200px
    
    .logo
      padding-left: 20px
      padding-top: 5px
      padding-bottom: 10px
      
      a
        color: #fff
        font-size: 24px
    
    ul.links
      list-style: none
      padding-left: 20px
      
      li
        width: 200px
      
        a
          color: #333
          font-size: 15px
          
      li.current
        background: -webkit-gradient(linear, left top, right top, color-stop(10%,transparent), color-stop(100%,#bec4b4))
        
        a
          color: #fff
          
    
    .bottom
      padding-left: 20px
      
      a
        color: #333
        font-size: 15px
      

  .right
    float: left
    width: 450px
    overflow: auto
    background-color: #fff
    border-radius: 10px
    box-shadow: 0px 5px 15px #555
  
  
    .navbar
      //text-align: center
      padding-left: 10px
      background-color: #efe
      border-bottom: 1px solid #eee
      padding: 5px
      
      .back
        font-size: 15px
        float: left
        padding-left: 10px
        
        
      
    .content
      padding: 10px
        
  
  
.actions
  float: right
    
  a
    font-size: 15px
    padding: 5px
    padding-left: 10px
    padding-right: 10px
    color: #000
    border: 1px solid #bbb
    border-radius: 4px
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#bbb))
    
    &:hover
      border: 1px solid #aaa
      text-decoration: none
    
    &:active
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbb), color-stop(100%,#fff))
      
    &.important
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(100%,#8ab66b))
   
   
   

ul.items
  padding: 0px
  list-style: none

  li
    position: relative
    margin-top: -1px
    border: 1px solid #bbb
    border-radius: 5px
    padding: 10px   
    
    &:hover
      background-color: #efe
   
   
    
      
    
.nav, nav
  clear: both
  text-align: center
  font-size: 15px
  width: 700px
  padding: 10px 
  
  a
    padding-left: 10px
    padding-right: 10px
    
.admin
  text-align: right
  font-size: 15px
  width: 700px
  margin: 0px auto
  padding: 10px 
  
  a
    padding-left: 20px
  
.friendname_autocomplete
  width: 600px

.ui-autocomplete
  width: 300px
  list-style: none
  
  ul
    -webkit-padding-start: 0px
  
  li
    padding: 5px
    font-family: 'Philosopher', arial, helvetica, sans-serif
    border-bottom: 1px solid #eee 

form
  width: 700px
    
.dashboard

.hidden
  display: none

.pagination
  text-align: center    


.ui-timepicker-div .ui-widget-header
  margin-bottom: 8px
.ui-timepicker-div dl
  text-align: left
.ui-timepicker-div dl dt
  height: 25px
.ui-timepicker-div dl dd
  margin: -25px 0 10px 65px
.ui-timepicker-div td 
  font-size: 90%


.timer.mini
  width: 100px
  

.notes_label
  cursor: pointer
  
.notes
  display: none

#calendar
  font-family: Helvetica, sans-serif
  font-size: 15px

  h2, p, ol, ul, td, textarea, input, select
    font-family: Helvetica, sans-serif
    font-size: 15px
    
    
.color_box
  margin: 5px

  &.small
    width: 10px
    height: 10px
    float: left
