html, body {
  height: 100%; }

body {
  padding: 0px;
  margin: 0px;
  color: #333333;
  font-family: "Philosopher", arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  background-color: #7ea800;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ab66b), color-stop(100%, #c9de96)); }

p, ol, ul, td, textarea, input, select {
  font-family: "Philosopher", arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px; }

textarea, input {
  border: 1px solid #eeeeee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #555555; }
  textarea[type=submit], input[type=submit] {
    cursor: pointer;
    border: 1px solid #c9de96;
    color: white;
    background-color: #c9de96;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(100%, #8ab66b));
    border-radius: 5px;
    box-shadow: 0px 2px 2px #555555; }
    textarea[type=submit]:hover, input[type=submit]:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ab66b), color-stop(100%, #c9de96)); }
  textarea:hover, input:hover {
    border: 1px solid #aaaaaa; }

textarea {
  width: 680px;
  height: 180px;
  padding: 10px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #7ea800;
  text-decoration: none; }
  a:visited {
    color: #7ea800; }
  a:hover {
    color: white;
    text-decoration: underline; }

h1, h2 {
  text-align: center; }

div.field, div.actions {
  margin-bottom: 10px; }

.notice, .alert {
  text-align: center;
  color: white;
  position: absolute;
  width: 100%; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid #7ea800;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #7ea800; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #7ea800;
    color: white; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto; }

.header {
  height: 30px;
  font-size: 18px;
  color: #333333; }
  .header a {
    color: #333333; }
    .header a:hover {
      color: white; }

.columns .left {
  float: left;
  width: 200px; }
  .columns .left .logo {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px; }
    .columns .left .logo a {
      color: white;
      font-size: 24px; }
  .columns .left ul.links {
    list-style: none;
    padding-left: 20px; }
    .columns .left ul.links li {
      width: 200px; }
      .columns .left ul.links li a {
        color: #333333;
        font-size: 15px; }
    .columns .left ul.links li.current {
      background: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(100%, #bec4b4)); }
      .columns .left ul.links li.current a {
        color: white; }
  .columns .left .bottom {
    padding-left: 20px; }
    .columns .left .bottom a {
      color: #333333;
      font-size: 15px; }
.columns .right {
  float: left;
  width: 450px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #555555; }
  .columns .right .title {
    background-color: #eeffee;
    border-bottom: 1px solid #eeeeee;
    padding: 5px;
    padding-left: 10px; }
  .columns .right .content {
    padding: 10px; }

.actions {
  float: right; }
  .actions a {
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #bbbbbb)); }
    .actions a:hover {
      border: 1px solid #aaaaaa;
      text-decoration: none; }
    .actions a.important {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(100%, #8ab66b)); }

.nav, nav {
  clear: both;
  text-align: center;
  font-size: 15px;
  width: 700px;
  padding: 10px; }
  .nav a, nav a {
    padding-left: 10px;
    padding-right: 10px; }

.admin {
  text-align: right;
  font-size: 15px;
  width: 700px;
  margin: 0px auto;
  padding: 10px; }
  .admin a {
    padding-left: 20px; }

.friendname_autocomplete {
  width: 600px; }

.ui-autocomplete {
  width: 300px;
  list-style: none; }
  .ui-autocomplete ul {
    -webkit-padding-start: 0px; }
  .ui-autocomplete li {
    padding: 5px;
    font-family: "Philosopher", arial, helvetica, sans-serif;
    border-bottom: 1px solid #eeeeee; }

form {
  width: 700px; }

.hidden {
  display: none; }

.pagination {
  text-align: center; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

.timer.mini {
  width: 100px; }

.notes_label {
  cursor: pointer; }

.notes {
  display: none; }

#calendar {
  font-family: Helvetica, sans-serif;
  font-size: 15px; }
  #calendar h2, #calendar p, #calendar ol, #calendar ul, #calendar td, #calendar textarea, #calendar input, #calendar select {
    font-family: Helvetica, sans-serif;
    font-size: 15px; }
