- title "Settings"


= form_for(@user) do |f|

  = f.check_box :enable_desktop_notifications
  Show Desktop Notifications (Only currently available on Google Chrome)

  = f.check_box :enable_sounds
  Enable Timer Sounds


  .actions
    = f.submit
