- title "Your Contexts"

- content_for :actions do
  = link_to 'New', new_context_path, :class => 'important'
  = link_to 'Edit', new_context_path
    

  
- @contexts.each do |context|
  %br/
  = link_to context.name, context, {:style=>"color:#{context.default_color}"}
