- title "Your Contexts"

- content_for :actions do
  = link_to 'New Context', new_context_path 
  //, :class => 'important'
    

%ul.items
  - @contexts.each do |context|
    %li
      //.color_box.small{ :style=>"background-color:#{context.default_color}"}
      = link_to context.name, context
