- back_link "Back to All", contexts_path

- title "#{@context.name} Context"

- content_for :actions do
  = link_to 'Edit', edit_context_path

/= render 'form'

%h2 Projects

%ul.items
  - @context.projects.each do |project|
    %li
      = link_to project.name, project